html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* img reset css */
img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: unset;
    border: unset;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/** start index css */
:root {
    --color-primary: hsla(45, 50%, 50%, 1);
    --color-primary-variant: hsla(45, 50%, 20%, 1);

    --color-secondary: hsla(225, 20%, 50%, 1);
    --color-secondary-variant: hsla(225, 20%, 20%, 1);

    --color-on-primary: hsl(0, 0%, 100%);
    --color-on-secondary: hsl(225, 100%, 90%);

    --color-error: hsl(0, 100%, 75%);
    --color-on-error: hsl(0, 100%, 90%);
}

body {
    font-family: "Times New Roman",
        -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif, serif;
}

/*? ---------- Scrollbar  ---------- */
/* width */
::-webkit-scrollbar {
    width: 0.75rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background: var(--color-primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-variant);
}


/*? ---------- Scrollbar  ---------- */
/*? ---------- ---------- header ---------- ---------- */
/*? ---------- ---------- header ---------- ---------- */
/*? ---------- ---------- header ---------- ---------- */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    color: var(--color-primary);
    z-index: 9999;
}

.nav-bar {
    padding: 0.5rem;
    backdrop-filter: blur(4px);
    background-color: hsl(0, 0%, 100%, 0.75);
}

.logo {
    flex: 1;
}

.logo a {
    color: var(--color-primary);
    padding: 1rem;
    font-size: 2rem;
}

.burger {
    width: 3rem;
    height: 3rem;
    background-color: var(--color-primary);
}

.menu {
    height: 0;
    overflow: hidden;
    transition: all 200ms ease;
}

.menu-active {
    height: 100vh;
}

.menu-bar {
    /* width: 100%; */
    /* height: 50vh; */
    margin-right: auto;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 2rem;
    backdrop-filter: blur(4px);
    background-color: hsl(0, 0%, 100%, 0.75);
}



.menu-bar li a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    display: block;
    color: var(--color-primary);
    /* border: 1px solid; */
}

nav .contact {
    width: 40%;
    display: none;
    text-align: right;
}

.contact li {
    display: inline-block;
    padding: 0.25rem 1rem;
    white-space: nowrap;
    text-transform: uppercase;
}

/*? ----------  homepage  ---------- */
.homepage {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right bottom, hsl(0, 0%, 100%),
            hsla(0, 0%, 100%, 0.75), hsla(0, 0%, 100%, 0)),
        url("../img/rooms/05.Twin\ Room\ \(2\).jfif");
    background-color: white;
    background-size: cover;
    background-position: center 90%;
    background-repeat: no-repeat;
    font-family: "Times New Roman", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
}

.title small, .title h2 {
    color: var(--color-primary);
    width: 100%;
}

.title small {
    font-size: 1.5rem;
    white-space: nowrap;
}

.title h2 span {
    white-space: nowrap;
    font-size: 2.5rem;
}

.title h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

.title p {
    width: 100%;
    padding-top: 0.25rem;
    color: var(--color-secondary-variant);
}

.homepage span {
    white-space: nowrap;
}

/*? ----------  homepage End  ---------- */
/*? ----------  roompage  ---------- */
.roompage {
    width: 100%;
    height: auto;
    font-family: "Times New Roman", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    /* margin-top: 2rem; */
}

/*? ----------  roompage End  ---------- */
/*? ---------- ---------- Main ---------- ---------- */
/*? ---------- ---------- Main ---------- ---------- */
/*? ---------- ---------- Main ---------- ---------- */
/*? ----------  homepage  ---------- */
main .title {
    font-family: "Times New Roman", serif;
    color: var(--color-primary);
    font-size: 2rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
}

main .title::after, main .title::before {
    display: inline-block;
    content: " ";
    width: 2rem;
    height: 2px;
    background-color: var(--color-primary);
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 0.375rem;
}

.section {
    padding-bottom: 3rem;
}

.section h2 {
    width: 100%;
    text-align: center;
}

.section-deluxe {
    background-image: linear-gradient(to right bottom,
            hsl(0, 0%, 100%, 0.5),
            hsla(0, 0%, 100%, 0.5)),
        url("../img/golden-white-marble-textured-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.series-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.series-item {
    width: 100%;
    height: 45vw;
    background-position: center 75%;
    background-size: cover;
    margin-bottom: 3rem;
}

.series-info {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,
            hsla(0, 0%, 100%, 0),
            hsla(0, 0%, 100%, 0.75)50%,
            hsla(0, 0%, 100%, 1));
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    font-family: "Times New Roman", serif;
    color: var(--color-primary);
    transition: background 400ms ease;
    position: relative;
    border: 1px solid var(--color-primary);
}

.series-info>* {
    transition: all 400ms ease;
    z-index: 1;
}

.series-info h2 {
    width: 50%;
    text-align: left;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    /* border: 1px solid var(--color-primary); */
}

.series-info p {
    width: 50%;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.series-info button {
    font-family: "Times New Roman", serif;
    text-transform: uppercase;
    margin-right: 10%;
    color: unset;

    height: 0;
    overflow: hidden;
}

.series-info a {
    color: unset;
}

.series-info::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right,
            hsla(225, 20%, 20%, 0),
            hsla(225, 20%, 20%, 0.75)50%,
            hsla(225, 20%, 20%, 1));
    opacity: 0;
    transition: opacity 200ms ease;
}

.series-info:hover {
    color: var(--color-on-primary);
    background: unset;
}

.series-info:hover::before {
    opacity: 1;
}

.series-info:hover button {
    padding: 0.5rem 1rem;
    height: auto;
    background-color: #fff;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    cursor: pointer;
}

.carousel {
    width: 100%;
    position: relative;
}

.carousel-inner {
    width: 100%;
    position: relative;
}

.carousel-item {
    height: 40vw;
    max-height: 20rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-item::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right,
            hsla(225, 20%, 20%, 0),
            hsla(225, 20%, 20%, 0.9)33%,
            hsla(225, 20%, 20%, 1));
}

.carousel-item p {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
    padding: 1rem;
    padding-bottom: 2rem;
    color: var(--color-on-primary);
}

.carousel-indicators {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    z-index: 1;
    left: 50%;
    padding: 0.25rem;
    margin: 0.5rem;
}

.carousel-indicators .active {
    background-color: var(--color-on-secondary);

}

.carousel-indicators li {
    padding: 0.25rem;
    margin: 0.25rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    cursor: pointer;
}

.carousel-control {
    position: absolute;
    width: 25%;
    height: 100%;
    background: unset;
    border: unset;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.carousel-control::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 200ms ease;
}

.carousel-control:hover::before, .carousel-control:hover span {
    opacity: 1;
}

.carousel-control--prev {
    left: 0;
    justify-content: flex-start;
}

.carousel-control--next {
    right: 0;
    justify-content: flex-end;
}

.carousel-control--prev::before {
    background: linear-gradient(to right,
            hsl(225, 20%, 50%, 0.5),
            hsla(0, 0%, 100%, 0));
}

.carousel-control--next::before {
    background: linear-gradient(to left,
            hsl(225, 20%, 50%, 0.5),
            hsla(0, 0%, 100%, 0));
}

.carousel-control span {
    color: var(--color-on-secondary);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2rem;
    padding: 0 1rem;
    transform: scaleY(250%);
    opacity: 0;
    transition: opacity 200ms ease;
}

.contact-btn {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    background: unset;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    font-size: 1.75rem;
    padding: 0.5rem 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    cursor: pointer;
}

/*? ----------  homepage End  ---------- */
/*? ----------  roompage  ---------- */

.preview {
    width: 100%;
    height: 90vw;
    max-height: 90vh;
    position: relative;
}

.preview-inner {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}


.preview-inner img {
    width: 100%;
    height: 150%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 200ms ease;
    bottom: 0;
}

.preview-inner .active {
    opacity: 1;
}

.preview-bar {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    background-color: hsla(45, 50%, 90%, 0.75);
    backdrop-filter: blur(16px);
}

.preview-bar li {
    width: 33%;
    height: 17.5vw;
    max-height: 20vh;
    padding: 0.5rem;
}

.preview-bar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* position: absolute; */
    opacity: 0.5;
    transition: opacity 200ms ease;
    cursor: pointer;

}

.preview-bar .active {
    opacity: 1;
    position: relative;
    box-shadow: 0 0 0 2px var(--color-primary);
}

.preview-bar img:hover {
    opacity: 1;
}

.room {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.room h3 {
    width: 100%;
    font-size: 1.5rem;
    color: var(--color-primary);
    padding: 0.5rem;
}

.room-title {
    width: 100%;
    text-transform: uppercase;
    color: var(--color-primary);
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align-last: left;
}

.room-search button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-primary);
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.room-search svg {
    color: var(--color-primary);
    width: auto;
    height: 100%;
    padding: 0 0.5rem;
}

.room p {
    color: var(--color-secondary-variant);
    margin-bottom: 2rem;
    padding: 0.5rem;
}

.room-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.room-info li {
    width: 50%;
    /* border: 1px solid var(--color-primary-variant); */
    margin-bottom: 1rem;
    padding: 1rem 0;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 4rem;
    text-transform: uppercase;
}

.room-info svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    /* border: 1px solid var(--color-primary-variant); */
    color: var(--color-secondary);
    color: var(--color-primary-variant);
}

.room-info li h3 {
    width: 100%;
    padding-bottom: 0.5rem;
    color: var(--color-primary);
    font-weight: bold;
}

.room-info li p {
    width: 100%;
    padding: 0;
    margin: 0;
    padding-left: 0.5rem;
}

.room-service {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.room-service .disabled {
    opacity: 0.25;
}


.room-service-item {
    width: calc(100/12*2%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-secondary-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.room-service-item svg {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
}

.calendar {
    width: 100%;
    min-height: 20rem;
    margin-bottom: 1rem;
    border: 1px solid var(--color-primary);
}

.calendar h3 {
    width: 100%;
    font-size: 1.5rem;
    color: var(--color-primary-variant);
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-control {
    flex: 1;
    width: 3rem;
    height: 1.5rem;
    font-size: 1.5rem;
    line-height: 1rem;
    color: var(--color-primary);
    cursor: pointer;
}


.calendar-week {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
    margin: 0 0.5rem;
    border-bottom: 2px solid var(--color-primary-variant);
}

.calendar-week li {
    width: calc(100%/7);
    min-width: 3rem;
    color: var(--color-primary);
    text-align: center;
    /* border: 1px solid var(--color-primary); */
}

.calendar-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem 0;
    margin: 0 0.5rem;
}

.calendar-inner li {
    width: calc(100%/7);
    min-width: 2.5rem;
    padding: 0;
    margin: 0.5rem 0;
    color: var(--color-primary);
    text-align: center;
    transition: background 200ms ease;
    position: relative;
}

.calendar-inner li .active {
    color: var(--color-primary);
    background-color: hsla(45, 50%, 50%, 0.25);
    font-weight: bold;
}

.calendar-inner button:hover {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}

.calendar-inner button {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 50%;
    transition: background 200ms ease;
}

.calendar-inner li .disabled {
    color: var(--color-secondary-variant);
    opacity: 0.25;
    cursor: unset;
}

.calendar-inner .booking-booked {
    color: var(--color-on-error);
    background-color: var(--color-error);
}

.calendar-inner .booking-datefrom,
.calendar-inner .booking-dateto {
    color: var(--color-on-secondary);
    background-color: var(--color-secondary);
}

.calendar-inner .booking-daterange {
    color: var(--color-secondary-variant);
}

.calendar-inner .booking-datefrom::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    bottom: -0.25rem;
    right: 0;
    left: calc(50% - 1.375rem);
    border-radius: 2.5rem 0 0 2.5rem;
    background-color: var(--color-on-secondary);
    z-index: -1;
}

.calendar-inner .booking-dateto::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    bottom: -0.25rem;
    left: 0;
    right: calc(50% - 1.375rem);
    border-radius: 0 2.5rem 2.5rem 0;
    background-color: var(--color-on-secondary);
    z-index: -1;
}

.calendar-inner .booking-daterange::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    bottom: -0.25rem;
    right: 0;
    left: 0;
    background-color: var(--color-on-secondary);
    z-index: -1;
}

.price {
    background-color: var(--color-primary-variant);
    color: var(--color-on-primary);
    padding: 4rem 0;
}

.price .container {
    justify-content: space-around;
}

.price-part {
    min-width: 20rem;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.price-part span {
    width: 100%;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.price-part p {
    width: 100%;
    text-align: right;
    font-size: 3rem;
    width: 100%;
}

.price-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.price-btn button {
    width: 75%;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: var(--color-on-primary);
    border: 2px solid var(--color-primary);
    background-image: linear-gradient(to right bottom,
            hsla(45, 50%, 20%, 0.75),
            hsla(45, 50%, 20%, 0.75)),
        url("../img/golden-white-marble-textured-background.jpg");
    background-size: cover;
    cursor: pointer;
}

/*? ----- MODAL ----- */

.modal-mask {
    position: fixed;
    z-index: 9997;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    /* display: table; */
    backdrop-filter: blur(16px);
    display: flex;
}

.modal-mask .container {
    position: relative;
}

.modal-container {
    width: 100%;
    max-height: calc(100vh - 10rem);
    margin: 5rem 1rem;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    overflow-y: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.modal-default-button {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    color: var(--color-primary);
    position: absolute;
    right: 2.5rem;
    top: 5.5rem;
    z-index: 9;
    cursor: pointer;
}

.modal-main, .modal-side,
.response-main, .response-side {
    width: 100%;
}

/*? form modal part */
.modal-header {
    width: 100%;
    background-image: url("../img/golden-white-marble-textured-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.modal-header>* {
    width: 100%;
    backdrop-filter: blur(4px);
}

.modal-header h3 {
    color: var(--color-primary);
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
}

.modal-body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.modal-footer {
    background-color: var(--color-primary-variant);
    padding: 3rem;
    color: var(--color-on-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*? form modal part end */
/*? response modal part */

.response-header {
    width: 100%;
    height: calc(100vh - 10rem);
    background-image: url("../img/golden-white-marble-textured-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    color: var(--color-primary);
}

.response-header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    backdrop-filter: blur(4px);
}

.response-footer {
    width: 100%;
    height: calc(100vh - 10rem);
    background-color: var(--color-primary-variant);
    color: var(--color-on-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.response-inner {
    z-index: 9;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.response-header p, .response-header span {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.response-header i {
    width: 10rem;
    height: 10rem;
    font-size: 10rem;
    margin-bottom: 2rem;
    /* border: 5px solid var(--color-primary); */
    border-radius: 50%;
}

.response-header i svg {
    width: 100%;
    height: 100%;
}

.response-header p {
    font-size: 3rem;
}

.response-footer h3 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.response-time {
    width: 100%;
    text-align: center;
    color: var(--color-primary);
    font-size: 0.75rem;
}

.response-info {
    /* width: 15rem; */
    width: calc(100%/12*8);
    max-width: 15rem;
    margin-top: 0.5rem;
}

.response-info li {
    margin-top: 1rem;
}

.response-footer small {
    width: 100%;
    color: var(--color-primary);
    text-align: center;
    white-space: nowrap;
    padding: 0.25rem;
    margin-top: 0.5rem;
}

.response-notice {
    text-align: center;
    width: 75%;
    max-width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.75rem;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
}

.response-notice span {
    white-space: nowrap;
    padding: 0.25rem;
}

/*? response modal part end */

/*? MODAL animation */

.modal-enter-active,
.modal-leave-active {
    transition: opacity 0.5s ease;
}

.modal-enter-from,
.modal-leave-to {
    opacity: 0;
}

/*? -----   MODAL End ----- */
/*? -----   Booking Form  ----- */
.booking-title {
    width: 100%;
    display: flex;
    align-items: flex-end;
    color: var(--color-primary-variant);
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0 0.75rem;
}

.booking-title::after {
    content: '';
    flex: 1;
    height: 1.5px;
    background-color: var(--color-primary);
    margin-left: 0.5rem;
    margin-bottom: 0.25rem;
}

.booking-info p {
    padding: 0 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.booking-info span {
    margin-top: 0.5rem;
    padding-right: 0.5rem;
    white-space: nowrap;
}

.booking-service {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 1rem;
    margin-top: 1rem;
}

.booking-service .disabled {
    opacity: 0.25;
}


.booking-service-item {
    width: calc(100%/12*2);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-secondary-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0.5rem 1rem;
    /* margin-bottom: 1rem; */
}

.booking-service-item svg {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
}

.booking-notice {
    width: 100%;
    padding: 0 1rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
    list-style-type: square;
    color: var(--color-primary-variant);
    font-size: 0.875rem;
}

.booking-notice li {
    line-height: 1.25rem;
    word-wrap: break-word;

}

.booking-notice span {
    white-space: nowrap;
}

.booking-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--color-primary);
    margin-bottom: 1rem;
}

.booking-form>* {
    width: 100%;
    margin-bottom: 0.5rem;
}

.booking-form input {
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.booking-alert {
    color: var(--color-error);
    padding: 0 1rem;
}

.booking-days {
    color: var(--color-primary);
}

.booking-price {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    text-align: right;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.booking-price>* {
    width: 100%;
}

.booking-price small {
    text-align: right;
    margin-bottom: 0.5rem;
}

.booking-price span {
    font-size: 2rem;
}

.booking-btn {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.booking-btn button {
    width: 100%;
}

.booking-caution {
    font-size: 0.75rem;
    text-align: center;
    line-height: 1rem;
}

/*? -----   Booking Form End ----- */
/*? ----------  roompage End  ---------- */
/*? ---------- ---------- ---------- footer ---------- ---------- ---------- */
/*? ---------- ---------- ----- footer ----- ---------- ---------- */
/*? ---------- ---------- footer ---------- ---------- */
footer {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right bottom,
            hsl(0, 0%, 100%, 0.75),
            hsla(0, 0%, 100%, 0.75)),
        url("../img/rooms/03.Double\ Room\ \(0\).jfif");
    background-size: cover;
    background-position: center 90%;
    background-repeat: no-repeat;
    position: relative;
    padding: 10rem 0;
    font-family: "Times New Roman", serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .title {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: var(--color-primary);
}

footer .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--color-primary);
    font-size: 1.5rem;
    margin-top: 2rem;
}

footer .contact li {
    width: 100%;
    text-align: center;
    padding: 0 2rem;
}

/** Responsive Web Design */
.container {
    width: 100%;
    margin: auto;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*? mobile first */
@media screen and (min-width:576px) {
    .container {
        max-width: 540px;
    }

    nav .contact {
        display: block;
    }

    footer .contact li {
        width: auto;
        text-align: center;
    }
}

@media screen and (min-width:768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width:992px) {
    .container {
        max-width: 960px;
    }

    /* ? Index.html */
    .series-list {
        flex-direction: row;
    }

    .series-item {
        width: 25%;
        height: 45vw;
        max-height: 50vh;
        background-position: center 75%;
        background-size: cover;
        margin-bottom: 3rem;
    }

    .series-info {
        background: linear-gradient(to bottom,
                hsla(0, 0%, 100%, 0),
                hsla(0, 0%, 100%, 0.75)75%,
                hsla(0, 0%, 100%, 1));
        justify-content: flex-end;
        align-items: center;
        padding: 2rem;
        /* padding-bottom: 2rem; */
    }

    .series-info h2, .series-info p {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .series-info button {
        width: 100%;
        margin: 0;
        /* margin-right: 2rem;
        margin-left: 2rem; */
    }

    .series-info::before {
        background: linear-gradient(to bottom,
                hsla(225, 20%, 20%, 0),
                hsla(225, 20%, 20%, 0.75)75%,
                hsla(225, 20%, 20%, 1));
    }

    /* ? Room.html */
    .modal-main, .response-side {
        width: calc(100%/12*8);
    }

    .modal-side, .response-main {
        width: calc(100%/12*4);
    }

    .modal-header h3 {
        font-size: 3rem;
    }

    .response-header, .response-footer {
        max-height: 40rem;
    }

    .booking-service {
        width: 75%;
    }

    .booking-service-item {
        padding: 0.5rem 1rem;
    }

    .booking-service {
        margin-bottom: 1rem;
    }

    .room-reverse {
        flex-direction: row-reverse;
    }

    .room-info {
        width: 40%;
    }

    .room-service {
        width: 50%;
    }

    .calendar {
        width: calc(50% - 0.5rem);
        min-height: 20rem;
        margin-bottom: 1rem;
        /* margin-right: 0.25rem;
        margin-left: 0.25rem; */
    }

    /* ? Room.html End */
    footer {
        height: auto;
    }

    footer .container {
        justify-content: space-around;
    }
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 1120px;
    }
}