<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <link href="./css/app.css" rel="stylesheet">
    <title>restful</title>
</head>

<body>
    <noscript>
        <strong>We're sorry but restful doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong>
    </noscript>

    <header>
        <div class="title container">
            <small>We create luxury</small>
            <h2>Luxury <span> real estate</span></h2>
            <p>Lorem ipsum dolor sit amet, <span>consectetur adipiscing elit. </span> </p>
        </div>
        <nav>
            <div class="container">
                <div class="burger">
                    .
                </div>

                <h1 class="logo"><a href="#">RESTful</a></h1>
                <ul class="contact">
                    <li>RESTful address</li>
                    <li>+886 000-000-000</li>
                </ul>
                <ul class="menu">
                    <li>room</li>
                    <li>room</li>
                    <li>room</li>
                    <li>room</li>
                    <li>room</li>
                    <li>room</li>
                </ul>
            </div>
        </nav>
    </header>
    <!--? ---------- ---------- main ---------- ----------  -->
    <div id="app">
        <section class="section ">
            <div class="container">
                <h2 class="title">Class series</h2>
                <ul class="room-list">
                    <template v-for="(item,index) in roomData">
                        <li v-if="index%2 ==0" class="room"
                            :style="{'background-image': 'url(' + item.imageUrl + ')' }">
                            {{index}}

                        </li>
                    </template>

                </ul>
            </div>
        </section>
        <section class="section section-deluxe">
            <div class="container">
                <h2 class="title">Deluxe series</h2>
                <ul class="room-list">
                    <template v-for="(item,index) in roomData">
                        <li v-if="index%2 ==1" class="room"
                            :style="{'background-image': 'url(' + item.imageUrl + ')' }">
                            {{index}}
                        </li>
                    </template>
                </ul>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <h2 class="title">Testimonials</h2>

            </div>
        </section>
    </div>
    <!--? ---------- ---------- main end ---------- ---------- -->
    <footer>
        <h2 class="title">RESTful</h2>
        <ul class="contact">
            <li>RESTful address</li>
            <li>+886 000-000-000</li>
        </ul>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./js/app.js"></script>
</body>

</html>