<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <link href="./css/app.css" rel="stylesheet">
    <title>restful</title>
</head>

<body>
    <noscript>
        <strong>We're sorry but restful doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong>
    </noscript>
    <!--! ---------- ---------- Modal Page ---------- ---------- -->
    <!--! ---------- ---------- Modal Page ---------- ---------- -->
    <!--! ---------- ---------- Modal Page ---------- ---------- -->
    <!-- template for the modal component -->
    <script type="text/x-template" id="modal-template">
        <div class="modal-mask" @click="$emit('close')">
            <div class="container">
                <div class="modal-container " @click.stop="modal-mask">
                    <button class="modal-default-button" @click="$emit('close')">
                        X
                    </button>
                    <slot name="booking">
                        <div class="modal-main">
                            <div class="modal-header">
                                <slot name="header">
                                </slot>
                            </div>
                            <div class="modal-body">
                                <slot name="body">
                                </slot>
                            </div>
                        </div>
                        <div class="modal-side">
                            <div class="modal-footer">
                                <slot name="footer">
                                </slot>
                            </div>
                        </div> 
                    </slot>
                </div>
            </div>
        </div>
    </script>
    <!--! ---------- ---------- Modal Page ---------- ---------- -->
    <!--! ---------- ---------- Modal Page ---------- ---------- -->
    <!--! ---------- ---------- Modal Page ---------- ---------- -->
    <div id="app">
        <header class="roompage">
            <nav>
                <div class="nav-bar">
                    <div class="container">
                        <div class="burger" @click="navBTN">
                            .
                        </div>
                        <h1 class="logo"><a href="./index.html">RESTful</a></h1>
                        <ul class="contact">
                            <li>RESTful address</li>
                            <li>+886 000-000-000</li>
                        </ul>
                    </div>
                </div>
                <div class="menu" @click="closeNav">
                    <div class="container">
                        <ul class="menu-bar">
                            <li v-for="item in roomData" :key="item.id">
                                <a :href="'./room.html?roomID='+ item.id">
                                    {{item.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!--? ---------- ---------- main ---------- ----------  -->
        <main v-for="room in roomItem.room " :key="room.id">
            <section class="preview">
                <ul class="preview-inner">
                    <!--? large img -->
                    <li v-for="(url,index) in room.imageUrl">
                        <img :src="url" alt="..." v-if="index == oneRoom.imgIndex" class="active">
                        <img :src="url" alt="..." v-else>
                    </li>
                </ul>
                <div class="preview-bar">
                    <ul class="container">
                        <li v-for="(url,index) in room.imageUrl" @click="oneRoom.imgIndex = index">
                            <img :src="url" alt="..." v-if="index ==  oneRoom.imgIndex" class="active">
                            <img :src="url" alt="..." v-else>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="section">
                <div class="container">
                    <div class="room">
                        <h2 class="room-title">
                            {{room.name}}
                        </h2>
                        <p>
                            {{room.description}}
                        </p>
                    </div>
                    <div class="room room-reverse">
                        <ul class="room-info">
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"
                                    fill="none">
                                    <path
                                        d="M24 11.8C24.5515 11.8 25.0977 11.9086 25.6073 12.1197C26.1168 12.3308 26.5798 12.6401 26.9698 13.0302C27.3599 13.4202 27.6692 13.8832 27.8803 14.3927C28.0914 14.9023 28.2 15.4484 28.2 16C28.2 16.5516 28.0914 17.0977 27.8803 17.6073C27.6692 18.1168 27.3599 18.5798 26.9698 18.9698C26.5798 19.3599 26.1168 19.6692 25.6073 19.8803C25.0977 20.0914 24.5515 20.2 24 20.2C22.8861 20.2 21.8178 19.7575 21.0301 18.9698C20.2425 18.1822 19.8 17.1139 19.8 16C19.8 14.8861 20.2425 13.8178 21.0301 13.0302C21.8178 12.2425 22.8861 11.8 24 11.8ZM24 29.8C29.94 29.8 36.2 32.72 36.2 34V36.2H11.8V34C11.8 32.72 18.06 29.8 24 29.8ZM24 8C19.58 8 16 11.58 16 16C16 20.42 19.58 24 24 24C28.42 24 32 20.42 32 16C32 11.58 28.42 8 24 8ZM24 26C18.66 26 8 28.68 8 34V40H40V34C40 28.68 29.34 26 24 26Z"
                                        fill="currentColor" />
                                </svg>
                                <h3>客房人數</h3>
                                <p>{{room.descriptionShort.GuestMin}} ~ {{room.descriptionShort.GuestMax}}人</p>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"
                                    fill="none">
                                    <path
                                        d="M36.4444 8H11.5556C9.6 8 8 9.6 8 11.5556V36.4444C8 38.4 9.6 40 11.5556 40H36.4444C38.4 40 40 38.4 40 36.4444V11.5556C40 9.6 38.4 8 36.4444 8ZM11.5556 36.4444V11.5556H22.2222V36.4444H11.5556ZM36.4444 36.4444H25.7778V24H36.4444V36.4444ZM36.4444 20.4444H25.7778V11.5556H36.4444V20.4444Z"
                                        fill="currentColor" />
                                </svg>
                                <h3>客房坪數</h3>
                                <p>{{room.descriptionShort.Footage}} 平方公尺</p>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"
                                    fill="none">
                                    <path
                                        d="M40 24.2C40 22.44 38.56 21 36.8 21V16.2C36.8 14.44 35.36 13 33.6 13H14.4C12.64 13 11.2 14.44 11.2 16.2V21C9.44 21 8 22.44 8 24.2V32.2H10.128L11.2 35.4H12.8L13.872 32.2H34.144L35.2 35.4H36.8L37.872 32.2H40V24.2ZM33.6 21H25.6V16.2H33.6V21ZM14.4 16.2H22.4V21H14.4V16.2ZM11.2 24.2H36.8V29H11.2V24.2Z"
                                        fill="currentColor" />
                                </svg>
                                <h3>床型</h3>
                                <p>{{room.descriptionShort.Bed[0]}}</p>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"
                                    fill="none">
                                    <path
                                        d="M38.4 27.2V28.8C38.4 31.856 36.688 34.512 34.16 35.856L35.2 40H32L31.2 36.8H16.8L16 40H12.8L13.84 35.856C12.5587 35.1763 11.4869 34.1602 10.7398 32.917C9.99276 31.6738 9.5987 30.2504 9.6 28.8V27.2H8V24H36.8V12.8C36.8 12.3757 36.6314 11.9687 36.3314 11.6686C36.0313 11.3686 35.6243 11.2 35.2 11.2C34.4 11.2 33.792 11.744 33.6 12.464C34.608 13.328 35.2 14.608 35.2 16H25.6C25.6 14.727 26.1057 13.5061 27.0059 12.6059C27.9061 11.7057 29.127 11.2 30.4 11.2H30.672C31.328 9.344 33.104 8 35.2 8C36.473 8 37.6939 8.50571 38.5941 9.40589C39.4943 10.3061 40 11.527 40 12.8V27.2H38.4ZM35.2 27.2H12.8V28.8C12.8 30.073 13.3057 31.2939 14.2059 32.1941C15.1061 33.0943 16.327 33.6 17.6 33.6H30.4C31.673 33.6 32.8939 33.0943 33.7941 32.1941C34.6943 31.2939 35.2 30.073 35.2 28.8V27.2Z"
                                        fill="currentColor" />
                                </svg>
                                <h3>衛浴</h3>
                                <p>{{room.descriptionShort['Private-Bath']}} 間</p>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"
                                    fill="none">
                                    <path
                                        d="M24 36.8C31.04 36.8 36.8 31.04 36.8 24C36.8 16.96 31.04 11.2 24 11.2C16.96 11.2 11.2 16.96 11.2 24C11.2 31.04 16.96 36.8 24 36.8ZM24 8C32.8 8 40 15.2 40 24C40 32.8 32.8 40 24 40C15.2 40 8 32.8 8 24C8 15.2 15.2 8 24 8ZM32 23.2V25.6H22.4V16H24.8V23.2H32Z"
                                        fill="currentColor" />
                                </svg>
                                <h3>入住時間</h3>
                                <p>{{room.checkInAndOut.checkInEarly}} - {{room.checkInAndOut.checkInLate}}</p>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"
                                    fill="none">
                                    <path
                                        d="M24 36.8C31.04 36.8 36.8 31.04 36.8 24C36.8 16.96 31.04 11.2 24 11.2C16.96 11.2 11.2 16.96 11.2 24C11.2 31.04 16.96 36.8 24 36.8ZM24 8C32.8 8 40 15.2 40 24C40 32.8 32.8 40 24 40C15.2 40 8 32.8 8 24C8 15.2 15.2 8 24 8ZM24.8 16V25.6H16V23.2H22.4V16H24.8Z"
                                        fill="currentColor" />
                                </svg>
                                <h3>退房時間</h3>
                                <p> - {{room.checkInAndOut.checkOut}} AM</p>
                            </li>
                        </ul>
                        <ul class="room-service">
                            <template v-for="(service, index, num) in room.amenities">
                                <li class="room-service-item" v-if="service">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                                        fill="currentColor">
                                        <path :d="amenities[num].icon" fill="#currentColor" />
                                    </svg>
                                    <span> {{amenities[num].item}} </span>
                                </li>
                                <li class="room-service-item disabled" v-else>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                                        fill="currentColor">
                                        <path :d="amenities[num].icon" fill="#currentColor" />
                                    </svg>
                                    <span> {{amenities[num].item}} </span>
                                </li>
                            </template>
                        </ul>
                    </div>
                    <div class="room">
                        <h3 class="room-title">空房查詢</h3>
                    </div>
                    <div class="room">
                        <div class="calendar">
                            <h3>
                                <button class="calendar-control" @click="updateCalender(-1)">
                                    <span>&lt;</span>
                                </button>
                                {{format.month[calendar.current.month]}} {{calendar.current.year}}
                                <button class="calendar-control" @click="updateCalender(1)">
                                    <span> &gt;</span>
                                </button>
                            </h3>
                            <ul class="calendar-week">
                                <li>Sun.</li>
                                <li>Mon.</li>
                                <li>Tue.</li>
                                <li>Wed.</li>
                                <li>Thu.</li>
                                <li>Fri.</li>
                                <li>Sat.</li>
                            </ul>
                            <ul class="calendar-inner">
                                <template v-for="date in calendar.current.date" :key="date">
                                    <li v-if="parseInt(date.split('-')[1]) !== (calendar.current.month + 1) || new Date(date) < new Date(calendar.today)"
                                        @click="setbookingDate(date)">
                                        <button class="disabled"> {{parseInt(date.split('-')[2])}} </button>
                                    </li>
                                    <li v-else @click="setbookingDate(date)">
                                        <template v-if="date ==  booking.dateFrom">
                                            <button class="booking-datefrom"> {{parseInt(date.split('-')[2])}} </button>
                                        </template>
                                        <template v-else-if="date ==  booking.dateTo">
                                            <button class="booking-dateto"> {{parseInt(date.split('-')[2])}} </button>
                                        </template>
                                        <template
                                            v-else-if="new Date(booking.dateFrom) < new Date(date) && new Date(date) < new Date(booking.dateTo)">
                                            <button class="booking-daterange"> {{parseInt(date.split('-')[2])}}
                                            </button>
                                        </template>
                                        <template v-else>
                                            <button v-if="date == calendar.today" class="active">
                                                {{parseInt(date.split('-')[2])}} </button>
                                            <button v-else> {{parseInt(date.split('-')[2])}} </button>
                                        </template>
                                    </li>
                                </template>
                            </ul>
                        </div>
                        <div class="calendar">
                            <h3>
                                <button class="calendar-control" @click="updateCalender(-1)">
                                    <span>&lt;</span>
                                </button>
                                {{format.month[calendar.next.month]}} {{calendar.next.year}}
                                <button class="calendar-control" @click="updateCalender(1)">
                                    <span> &gt;</span>
                                </button>
                            </h3>
                            <ul class="calendar-week">
                                <li>Sun.</li>
                                <li>Mon.</li>
                                <li>Tue.</li>
                                <li>Wed.</li>
                                <li>Thu.</li>
                                <li>Fri.</li>
                                <li>Sat.</li>
                            </ul>
                            <ul class="calendar-inner">
                                <template v-for="date in calendar.next.date" :key="date">
                                    <li v-if="parseInt(date.split('-')[1]) !== (calendar.next.month + 1) "
                                        @click="setbookingDate(date)">
                                        <button class="disabled"> {{parseInt(date.split('-')[2])}} </button>
                                    </li>
                                    <li v-else @click="setbookingDate(date)">
                                        <template v-if="date ==  booking.dateFrom">
                                            <button class="booking-datefrom"> {{parseInt(date.split('-')[2])}} </button>
                                        </template>
                                        <template v-else-if="date ==  booking.dateTo">
                                            <button class="booking-dateto"> {{parseInt(date.split('-')[2])}} </button>
                                        </template>
                                        <template
                                            v-else-if="new Date(booking.dateFrom) < new Date(date) && new Date(date) < new Date(booking.dateTo)">
                                            <button class="booking-daterange"> {{parseInt(date.split('-')[2])}}
                                            </button>
                                        </template>
                                        <template v-else>
                                            <button v-if="date == calendar.today" class="active">
                                                {{parseInt(date.split('-')[2])}} </button>
                                            <button v-else> {{parseInt(date.split('-')[2])}} </button>
                                        </template>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section price">
                <div class="container">
                    <div class="price-part">
                        <span>平日(一～四)</span>
                        <p>
                            NT$ {{room.normalDayPrice}}
                            <span>/日</span>
                        </p>
                    </div>
                    <div class="price-part">
                        <span>假日(五～日)</span>
                        <p>
                            NT$ {{room.holidayPrice}}
                            <span>/日</span>
                        </p>
                    </div>
                    <div class="price-btn">
                        <button id="show-modal" @click="showModal = true">
                            立刻訂房
                        </button>
                    </div>
                </div>
            </section>
            <!--! ---------- ---------- Modal Page ---------- ---------- -->
            <!--! ---------- ---------- Modal Page ---------- ---------- -->
            <!--! ---------- ---------- Modal Page ---------- ---------- -->
            <!-- use the modal component, pass in the prop -->
            <transition name="modal">
                <modal v-if="showModal" @close="showModal = false;booking.status = true">
                    <!-- you can use custom content here to overwrite default content -->
                    <template v-slot:booking v-if="booking.status">
                        <div class="modal-main">
                            <div class="modal-header">
                                <h3>Booking</h3>
                            </div>
                            <div class="modal-body">
                                <h3 class="booking-title">{{room.name}}</h3>
                                <div class="booking-info">
                                    <p>
                                        {{room.descriptionShort.GuestMin}} ~ {{room.descriptionShort.GuestMax}} 人 |
                                        {{room.descriptionShort.Bed.length}} 張床 |
                                        {{room.descriptionShort['Private-Bath']}} 間 |
                                        {{room.descriptionShort.Footage}} 平方公尺
                                    </p>
                                    <p>
                                        <span>
                                            平日(一～四) NT$ {{room.normalDayPrice}}
                                        </span>
                                        <span>
                                            假日(五～日) NT$ {{room.holidayPrice}}
                                        </span>
                                    </p>
                                </div>
                                <ul class="booking-service">
                                    <template v-for="(service, index, num) in room.amenities">
                                        <li class="booking-service-item" v-if="service">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                viewBox="0 0 32 32" fill="currentColor">
                                                <path :d="amenities[num].icon" fill="#currentColor" />
                                            </svg>
                                            <span> {{amenities[num].item}} </span>
                                        </li>
                                        <li class="booking-service-item disabled" v-else>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                viewBox="0 0 32 32" fill="currentColor">
                                                <path :d="amenities[num].icon" fill="#currentColor" />
                                            </svg>
                                            <span> {{amenities[num].item}} </span>
                                        </li>
                                    </template>
                                </ul>
                                <h3 class="booking-title">訂房事項</h3>
                                <ul class="booking-notice">
                                    <li>
                                        入住時間：最早15:00，最晚21:00；
                                        <span> 退房時間：10:00，請自行確認行程安排。</span>
                                    </li>
                                    <li>
                                        平日定義為 週一至週四 ；
                                        <span> 假日定義為 週五至週日 以及 國定假日。</span>
                                    </li>
                                    <li>
                                        若您有任何問題，歡迎撥打 00-0000 0000
                                        <span> （服務時間 週一至週六 08:00 - 22:00）</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="modal-side">
                            <div class="modal-footer">
                                <form action="" class="booking-form">
                                    <label for="name">
                                        訂房姓名
                                        <span v-if="booking.formError.name" class="booking-alert">
                                            {{booking.alert.name}}
                                        </span>
                                    </label>
                                    <input type="text" name="name" id="name" v-model="booking.name" @blur="checkNamne"
                                        required>

                                    <label for="phone">
                                        手機號碼
                                        <span v-if="booking.formError.phoneNumber" class="booking-alert">
                                            {{booking.alert.phoneNumber}}
                                        </span>
                                    </label>
                                    <input type="text" name="phone" id="phone" v-model="booking.phoneNumber"
                                        @blur="checkPhone" placeholder="0000-000-000" required>

                                    <label for="dateFrom">入住日期</label>
                                    <input type="date" name="dateFrom" id="dateFrom" v-model="booking.dateFrom"
                                        :min="limit.dateFrom" required>

                                    <label for="dateTo">退房日期</label>
                                    <input type="date" name="dateTo" id="dateTo" v-model="booking.dateTo"
                                        :min="limit.dateFrom" :max="limit.dateTo" required>

                                    <span class="booking-days">
                                        {{booking.dateRange.length}} 日，平日 {{booking.normalDay}} 夜，假日 {{booking.holiday}}
                                        夜
                                    </span>
                                </form>
                                <p class="booking-price">
                                    <small>Total</small>
                                    <span> NT$ {{booking.price}} </span>
                                </p>
                                <div class="price-btn booking-btn">
                                    <button @click="sendBookingForm()">
                                        確認送出
                                    </button>
                                </div>
                                <small>
                                    此預約系統僅預約功能，
                                    <span>
                                        並不會對您進行收費。
                                    </span>
                                </small>
                            </div>
                        </div>
                    </template>
                    <template v-slot:booking v-if="!booking.status">
                        <div class="response-main">
                            <div class="response-header">
                                <div class="response-inner">
                                    <i></i>
                                    <p>Booking</p>
                                    <span v-if="response.success">Successed</span>
                                    <span v-else>Failed</span>
                                </div>
                            </div>

                        </div>
                        <div class="response-side">
                            <div class="response-footer">
                                <div class="response-inner">
                                    <h3>
                                        預約<span v-if="response.success">成功</span><span v-else>失敗</span>
                                    </h3>
                                    <p class="response-time">預約時間： <span> {{response.time }}</span></p>
                                    <template v-if="response.success">
                                        <ul class="response-info">
                                            <li> 預約客房：<span> {{response.data.room}}</span></li>
                                            <li> 預約姓名：<span> {{response.data.name}} </span></li>
                                            <li> 連絡電話：<span>{{response.data.tel}} </span></li>
                                            <li> 訂房日期：<span>
                                                    {{response.data.dateFrom.split('-')[1]}}/{{response.data.dateFrom.split('-')[2]}}
                                                    -
                                                    {{response.data.dateTo.split('-')[1]}}/{{response.data.dateTo.split('-')[2]}}
                                                </span> </li>
                                        </ul>
                                        <small>{{booking.normalDay + booking.holiday + 1}} 日，
                                            平日{{booking.normalDay}} 夜，
                                            假日{{booking.holiday}} 夜</small>

                                        <p class="response-notice">
                                            <span> 稍後將透過簡訊發送預約通知 </span>
                                            <span> 入住當日需出示此預約通知 </span>
                                            <span> 若未收到簡訊 請來電確認 </span>
                                            <small> － 感謝您的預約 －</small>
                                        </p>
                                    </template>
                                    <template v-else>
                                        <p class="response-notice">
                                            <span> 很抱歉 您所預約的訂房時間 已有其他人的預約</span>
                                            <small> － 請選擇其他房型或日期 －</small>
                                        </p>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </template>
                </modal>
            </transition>
            <!--! ---------- ---------- Modal Page ---------- ---------- -->
            <!--! ---------- ---------- Modal Page ---------- ---------- -->
            <!--! ---------- ---------- Modal Page ---------- ---------- -->
            <section class="section">
                <div class="container">
                    <h2 class="title">Testimonials</h2>
                    <div class="carousel">
                        <ul class="carousel-indicators">
                            <li class="active"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class="carousel-inner">
                            <li class="carousel-item"
                                style="background-image: url('/img/rooms/05.Twin Room (0).jfif');">
                                <!-- <img src="/img/rooms/05.Twin Room (0).jfif" alt="..."> -->
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare vitae nam facilisis
                                    volutpat, consequat ornare sit iaculis consectetur.
                                </p>
                            </li>
                        </ul>
                        <button class="carousel-control carousel-control--prev">
                            <span>&lt;</span>
                        </button>
                        <button class="carousel-control carousel-control--next">
                            <span> &gt;</span>
                        </button>
                        <!--? carousel end -->
                    </div>
                    <button class="contact-btn">
                        Contact Us
                    </button>
                </div>
            </section>
            <!--? main end -->
        </main>
    </div>
    <!--? ---------- ---------- main end ---------- ---------- -->
    <footer>
        <div class="container">
            <h2 class="title">RESTful</h2>
            <ul class="contact">
                <li>RESTful address</li>
                <li>+886 000-000-000</li>
            </ul>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./js/app.js"></script>
</body>

</html>